@charset "utf-8";
@font-face {
    font-family: gameboy;
    src: url('/staticfiles/genone/fonts/PokemonGb.ttf');
}

html {
	margin: 0;
	padding: 0;
	font-family: gameboy, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: left;
	direction: ltr;
	width: 100%;
	height: 100%;
	text-rendering: optimizeSpeed;
	overflow: hidden;
}
body {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	background-image: url('/staticfiles/genone/images/bg-blue.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 100px 0;
	transition: 1s ease-in-out;
	background-color: rgb(49,143,205);
}
.mobile-wrapper {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}
.console-container {
	position: absolute;
	width: 526px;
	height: 928px;
	background-image: url('/staticfiles/genone/images/gameboy-bg.png');
	background-size: cover;
	left: 245px;
	top: -20px;
	border: 4px rgba(255,255,255, .5) solid;
	border-radius: 20px 20px 50% 50% / 48px 48px;
	transition: 500ms ease-in-out;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-zoom: none;
	-ms-user-zoom: none;
	-webkit-user-zoom: none;
}
@media screen and (max-width: 700px){
	.console-container{
		left: 0;
		top: 0;
	}
}
.menubar, #GameBoy > #gfx {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.window {
	visibility: visible;
	display: none;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 10px 0px 0px 0px;
	top: 0;
	left: 0;
	color: rgb(0, 0, 0);
	font-size: 16px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 5px 5px 10px rgb(30, 30, 30);
	box-shadow: 5px 5px 10px rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
	z-index: 2;
	opacity: 1;
}
#GameBoy {
	height: 286px;
	width: 321px;
	top: 78px !important;
	left: 104px !important;
}

#gfx {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3px;
	left: 3px;
	right: 3px;
	top: 3px;
	background-color: rgb(39, 39, 39);
	background-repeat: repeat-x;
	background-attachment: scroll;
}
body > #fullscreenContainer {
	position: absolute;	/*Fallback here if fixed isn't supported*/
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
	background-color: rgb(39, 39, 39);
	display: none;
	z-index: 100;
}
body > #fullscreenContainer > canvas#fullscreen.maximum {
	position: static;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body > #fullscreenContainer > canvas#fullscreen.minimum {
	position: absolute;
	height: 144px;
	width: 160px;
	top: 50%;
	left: 50%;
	margin: -72px 0 0 -80px;
	padding: 0;
}
#GameBoy > #gfx > canvas {
	position: absolute;
	z-index: 5;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

#gfx + image {
	z-index: 1;
	padding: 0;
}

/* revamp */
.cart-drawer {
	z-index: 3;
	position: absolute;
	width: 300px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 30px;
	left: 0;
	top: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 300ms ease-in-out;
	background: rgba(255,255,255, .1);
	transform: translateX(0deg);
}
.cart-drawer::-webkit-scrollbar {
	width: 0;
}
.settings {
	z-index: 3;
	position: absolute;
	width: 340px;
	height: 100%;
	right: 0;
	top: 0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 300ms ease-in-out;
	background: rgba(255,255,255, .1);
	overflow-y: scroll;
}
.settings::-webkit-scrollbar {
	width: 0;
}
.drawer-arrow {
	position: absolute;
	top: 375px;
	left: 0;
	transition: 300ms ease-in-out;
}
.drawer-arrow:hover {
	cursor: pointer;
}
#settings-arrow {
	left: 10px;
}
.drawer-arrow:active {
	transform: rotate(180deg);
}
#cartridge-arrow {
	transform: rotate(180deg);
	right: 0;
	left: auto;
}
#cartridge-arrow:active {
	transform: rotate(360deg);
}
.cartridge {
	border-radius: 4px;
	transition: 100ms ease-in-out
}
.cartridge:hover {
	cursor: pointer;
	outline: 4px black solid;
	transform: scale(1.01);
}
.hidden-info {
	display: none;
}

.btn {
	border-radius: 16px;
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin-top: 10px;
	background: rgba(153, 153, 153, 0);
	transition: 250ms ease-in-out;
}
.btn:hover {
	cursor: pointer;
	background: rgb(153, 153, 153);
}
.sm-btn {
	width: 60px;
	height: 25px;
	border: 2px black solid;
	margin-top: 0;
	border-radius: 4px;
	margin-left: 5px;
	font-size: 9px;
}
.game-setting {
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.input-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 25px;
}
#speed-input {
	width: 25%;
	height: 27px;
	border: 2px black solid;
	margin-right: 5px;
	display: flex;
	text-align: center;
}
label {
	text-transform: uppercase;
	margin-bottom: 2px;
}
input {
	font-family: gameboy, sans-serif;
}
input:hover {
	cursor: pointer;
}
#enable-sound {
	background: rgb(153, 153, 153);
	transition: 300ms ease-in-out;
}

/* console */
#on-light {
	position: absolute;
	background-color: red;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	top: 162px;
	left: 44px;
	opacity: 0;
	transition: 500ms ease-out;
}
.gb-btn {
	position: absolute;
	opacity: 0.7;
}
.gb-btn:hover {
	cursor: pointer;
}
.gb-btn:active {
	opacity: 1;
}
.a-b {
	border-radius: 50%;
	height: 61px;
	width: 61px;
	background-color: rgba(255,255,255, .1);
}
.a-b:active {
	opacity: 0;
}
#a-btn {
	left: 426px;
	top: 560px;
}
#b-btn {
	left: 327px;
	top: 592px;
}
.st-sel {
	width: 46px;
	height: 17px;
	border-radius: 40%;
	top: 754px;
	background-color: rgba(255,255,255, .1);
}
.st-sel:active {
	opacity: 0;
}
#select-btn {
	left: 200px;
}
#start-btn {
	left: 281px;
}
.joypad {
	height: 45px;
	width: 48px;
	border-radius: 8px;
}
#up-btn {
	background: linear-gradient(180deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 542px;
	left: 83px;
}
#down-btn {
	background: linear-gradient(0deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 630px;
	left: 83px;
}
#left-btn {
	background: linear-gradient(0deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 585px;
	left: 38px;
	transform: rotate(90deg)
}
#right-btn {
	background: linear-gradient(180deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 585px;
	left: 126px;
	transform: rotate(90deg)
}
.joypad:active{
	opacity: 0;
}

/*slider switch css */
.switch-wrapper {
	position: absolute;
	top: 41px;
	left: 101px;
    display: flex;
    align-items: center;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.icon-row {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
}
a.card {
	height: 100px;
	width: 100px;
	border-radius: 16px;
	outline: 2px black solid;
	margin: 10px;
	background-repeat: no-repeat;
}
.wtp {
	background-position: right;
	background-size: 173%;
	background-image: url('/staticfiles/genone/images/wtp.jpg');
}
.gbc {
	background-position: center;
	background-size: 135%;
	background-image: url('/staticfiles/genone/images/gameboy-icon.jfif');
}
.home {
	background-position: center;
	background-size: 155%;
	background-image: url('/staticfiles/genone/images/pokeball.jfif');
}
.card:hover {
	outline: 4px white solid;
	cursor: pointer;
}

/* active party */
#active-party {
	position: absolute;
	margin: 0;
	width: 180px;
	height: 100%;
	background: rgba(255,255,255, .2);
	left: 60px;
	top: 0;
	flex-direction: column;
	display: flex;
	align-items: center;
	transform: translateX(-260px);
	transition: 300ms ease-in-out;
}

.party-slot {
	height: 190px;
	width: 155px;
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.img-wrap {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.party-slot-img {
	opacity: 0;
	transition: opacity 1000ms ease-in-out;
	height: 100%;
}

.lvl {
	position: relative;
	left: -5px;
	top: 90%;
	font-size: 10px;
	height: fit-content;
}
.lvl:hover {
	cursor: default;
}
#refresh-party {
	width: 85%;
	border-radius: 16px;
	padding: 2px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease-in-out;
}
#refresh-party:hover {
	cursor: pointer;
}
#refresh-party:active {
	background-color: rgb(153, 153, 153);
}
.gray-border {
	border: 4px solid rgba(0, 0, 0, 0.5);
}