{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />

  <!-- title -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{% static 'unspammable/images/icons/clear_bg_4.png' %}"/>
  <title>unspammable</title>

  <link rel="stylesheet" href="{% static 'marvel/css/timeline.css' %}">
  <link rel="stylesheet" href="{% static 'marvel/css/phases.css' %}">
  <link rel="stylesheet" href="{% static 'marvel/css/transition.css' %}">
  <link rel="stylesheet" href="{% static 'marvel/css/modal.css' %}">
  <link rel="stylesheet" href="{% static 'unspammable/css/header.css' %}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src='{% static "marvel/js/timeline.js" %}'></script>
</head>

<!-- loader -->
<div class="loader loader--active">
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-0-original-x-men.jpg)"></div>
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-1-three-part.jpg)"></div>
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-2-age-of-ultron.jfif)"></div>
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-3-endgame.jpg)"></div>  
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-4-summary.jpg)"></div>
</div>

<div class="bg-wrapper" style="z-index: -1;">
    <div class="tl-bg" style="background-image: url('{{ background }}'); ">
    </div>
</div>

<!-- marvel header -->
<div class="header">
    <div class="header-item">
      <a href="{% url 'marvel' %}" style="text-decoration: none; color: white;">
        <h3>Marvel</h3>
      </a>
    </div>
    <div class="header-item" >
      <h3>|</h3>
    </div>
    <div class="header-item">
      <a href="{% url 'recommend' %}" style="text-decoration: none; color: white;">
        <h3>Recommender</h3>
      </a>
    </div>
    <div class="header-item" >
      <h3>|</h3>
    </div>
    <div class="header-item">
      <a onclick="transitionToPage('/marvel/timeline')" >
        <h3>Timeline</h3>
      </a>
    </div>
    <div class="header-item" >
      <h3>|</h3>
    </div>
    <div class="header-item">
        <a onclick="toggleModal()" style="text-decoration: none; color: white;" id="modal_opener">
          <h3>Credentials</h3>
        </a>
    </div>

    <div class="return-home" id="home">
      <a href="/">
        <img src="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}" height="64px">
      </a>
    </div>
</div>

<!-- <ul class="menu" >
  <li><a class="menuItem" href="{% url 'marvel' %}">Marvel Home</a></li>
  <li><a class="menuItem" href="{% url 'recommend' %}">Recommender</a></li>
  <li><a class="menuItem" onclick="transitionToPage('/marvel/timeline')">Timeline</a></li>
  <li><a class="menuItem" onclick="toggleModal()">Credentials</a></li>
</ul> -->
  <button class="hamburger menuIcon">
    <i class="menuIcon material-icons">menu</i>
  </button>
  <button class="hamburger closeIcon">
    <i class="closeIcon material-icons">close</i>
  </button>
<!-- modal -->
<div class="modal" style="display: none;">
  <div class="overlay"></div>
  <div class="modal_content">
    <!-- Dynamic Section -->
    <div class="modal_select">
      <label for="platform" style="padding-bottom: 2px;">Choose a Platform:</label>
      <select name="platform" id="platform">
        {% for platform in platforms %}
          <option value="{{platform.id}}">{{ platform.name_text }}</option>
        {% endfor %}
      </select>
      <button onclick="getCredentials()" style="float:right; margin-right: 11%; height: 30px;">
        <img src="{% static 'unspammable/images/search.png' %}" style="object-fit: cover; height: 17px; padding-top: 2px;"/>
      </button>
    </div>
    <label for="username">Username:</label>
    <div class="return-info">
      <div id="username" value="username" style="position: absolute; font-size: 14px; padding: 2px  5px;"></div>
      <div class="tooltip">
      <button onclick="copyToClipboard('username', 0)" onmouseout="outFunc(0)">
        <span class="tooltiptext" id="copyTooltip">Copy</span>
        <img src="{% static 'unspammable/images/copy.png' %}" style="object-fit: cover; height: 17px;">
      </button>
      </div>
    </div>
    <label for="password">Password:</label>
    <div class="return-info">
      <div id="password" value="password" style="position: absolute; font-size: 14px; padding: 2px  5px; letter-spacing: 0px;"></div>
      <div class="tooltip">
      <button onclick="copyToClipboard('password', 1)" onmouseout="outFunc(1)">
        <span class="tooltiptext" id="copyTooltip">Copy</span>
        <img src="{% static 'unspammable/images/copy.png' %}" style="object-fit: cover; height: 17px;">
      </button>
      </div>
    </div>
    <!-- End of Dynamic Section -->
    <button title="Close" class="close_modal">
      x
    </button>
  </div>
</div>

{% block content %}
{% endblock %}

{% load js %}
<script type="text/javascript" src='{% static "marvel/js/phase.js" %}'></script>
<script type="text/javascript" src='{% static "marvel/js/modal.js" %}'></script>
<script type="text/javascript">
  function getCredentials() {
    var platform = document.getElementById('platform').value;
    var credentials = {{ credentials | js }};
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    for (let i = 0; i < credentials.length; i++) {
      if (credentials[i][0] == platform) {
        username.innerHTML = credentials[i][2];
        password.innerHTML = credentials[i][1];
      }
    };
  }
</script>

<script>
  const menu = document.querySelector(".menu");
  const menuItems = document.querySelectorAll(".menuItem");
  const hamburger= document.querySelector(".hamburger");
  const closeIcon= document.querySelector(".closeIcon");
  const menuIcon = document.querySelector(".menuIcon");

  function toggleMenu() {
    if (menu.classList.contains("showMenu")) {
      menu.classList.remove("showMenu");
      closeIcon.style.display = "none";
      menuIcon.style.display = "block";
    } else {
      menu.classList.add("showMenu");
      closeIcon.style.display = "block";
      menuIcon.style.display = "none";
    }
  }

  hamburger.addEventListener("click", toggleMenu);

  menuItems.forEach( 
    function(menuItem) { 
      menuItem.addEventListener("click", toggleMenu);
    }
  )
</script>