{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />

  <!-- title -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{% static 'blog/images/clear_bg_4.png' %}"/>
  <title>unspammable</title>
  <link rel="stylesheet" href="{% static 'marvel/css/phases.css' %}">
</head>

<body>
    <div class="bg-wrapper">
        <div class="tl-bg" style="background-image: url('{{ background }}');">
        </div>
    </div>
</body>