{% extends 'marvelBase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'unspammable/css/main.css' %}">

<section class="timeline">
  <div class="container">
    {% for title in titles %}
    <a class='tl-card' 
      href="{{ title.url }}" target="_blank"
      style="background-image:url('/staticfiles/marvel/images/{{ title.image }}')" 
      title="{{title.title_text}} ({{title.release_date.year}})"
      >
    </a>
    {% endfor %}
  </div>
</section>

{% endblock %}