{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />

  <!-- title -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{% static 'unspammable/images/clear_bg_4.png' %}"/>
  <title>unspammable</title>
  <link rel="stylesheet" href="{% static 'marvel/css/phases.css' %}">
</head>

<div class="bg-wrapper" style="z-index: -1;">
    <div class="tl-bg" style="background-image: url('{{ background }}'); ">
    </div>
</div>

<section class="timeline">
  <div class="container">
    {% for title in titles %}
    <a class='tl-card' 
      href="{{ title.url }}" target="_blank"
      style="background-image:url('/staticfiles/marvel/images/{{ title.image }}')" 
      title="{{title.title_text}} ({{title.release_date}})"
      >
    </a>
    {% endfor %}
  </div>
</section>
