{% load static %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />

  <!-- title -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{% static 'unspammable/images/icons/clear_bg_4.png' %}"/>
  <title>unspammable</title>
  <link rel="stylesheet" href="{% static 'marvel/css/timeline.css' %}">
  <link rel="stylesheet" href="{% static 'marvel/css/transition.css' %}">
</head>

<section id="timeline">
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(/staticfiles/marvel/images/phase-0-original-x-men.jpg)"></div>
      
      <div class="tl-phase" onmousedown="contractDiv(this)" onmouseup="transitionToPhase('/marvel/0', this)">
        <p class="f2 heading--sanSerif">Legacy</p>
      </div>
  
      <div class="tl-content">
        <h1> - 2007</h1>
        <p>
          lorem ipsum
        </p>
      </div>
  
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(/staticfiles/marvel/images/phase-1-three-part.jpg)"></div>
      
      <div class="tl-phase" onmousedown="contractDiv(this)" onmouseup="transitionToPhase('/marvel/1', this)">
        <p class="f2 heading--sanSerif">Phase One</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">2008 - 2012</h1>
        <p>
            lorem ipsum
        </p>
      </div>
  
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(/staticfiles/marvel/images/phase-2-age-of-ultron.jfif)"></div>
      
      <div class="tl-phase" onmousedown="contractDiv(this)" onmouseup="transitionToPhase('/marvel/2', this)">
        <p class="f2 heading--sanSerif">Phase Two</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">2013 - 2015</h1>
        <p>
          lorem ipsum
        </p>
      </div>
  
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(/staticfiles/marvel/images/phase-3-endgame.jpg)"></div>
      
      <div class="tl-phase" onmousedown="contractDiv(this)" onmouseup="transitionToPhase('/marvel/3', this)">
        <p class="f2 heading--sanSerif">Phase Three</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">2016 - 2019</h1>
        <p>
          lorem ipsum
        </p>
      </div>
  
    </div>

    <div class="tl-item">
      
        <div class="tl-bg" style="background-image: url(/staticfiles/marvel/images/phase-4-summary.jpg)"></div>
        
        <div class="tl-phase" onmousedown="contractDiv(this)" onmouseup="transitionToPhase('/marvel/4', this)">
          <p class="f2 heading--sanSerif">Phase Four</p>
        </div>
    
        <div class="tl-content">
          <h1 class="f3 text--accent ttu">2021 - </h1>
          <p>
            lorem ipsum
          </p>
        </div>
    
      </div>
  </section>

  <script type="text/javascript" src="{% static 'marvel/js/timeline.js' %}"></script>
  </html>