{% extends 'base_MARVEL.html' %}
{% load static %}
{% block marvel %}

<section id="timeline">
  {% for phase in phases %}
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url({{phase.background}})"></div>
      
      <div class="tl-phase" onmousedown="contractDiv(this)" onmouseup="transitionToPhase('{{phase.endpoint}}', this)">
        <p class="f2 heading--sanSerif">{{phase.label}}</p>
      </div>
  
      <div class="tl-content">
        <h1>{{phase.runtime}}</h1>
        <p>
          {{phase.content}}
        </p>
      </div>
  
    </div>
  {% endfor %}
   
  </section>

  <script type="text/javascript" src="{% static 'marvel/js/timeline.js' %}"></script>

  {% endblock marvel %}