* {
    font-family: Roboto, sans-serif, arial;
}

.workout-card {
    margin: 1%;
    padding-top: 1%;
    border-radius: 20px;
    border: 2px black solid;
    background-color: lightblue;
}

#workout-header {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0.5em;
}

#ex-lines {
    font-size: 12px;
}

.entry-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5em;
}

.entry-row:nth-child(odd) {
    background-color: rgb(110, 161, 255) !important;
}

.form-entry {
    display: flex;
    flex-direction: row;
    margin: 0.25em;
    padding-right: 0.5em;
}

select {
    margin: 0 0.5em 0 0.5em;
}

.entry {
    width: 65px;
    font-size: 12px;
}

.uni {
    margin-top: 3px !important;
}

input {
    text-align: center;
    margin: 0 0.5em;
}

label {
    padding-top: 2px;
}

.summary-metric {
    margin: 0 0.2em;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit input:hover {
    cursor: pointer;
}

#add-row:hover {
    cursor: pointer;
}
#close-modal:hover {
    cursor: pointer;
}
