html,body {
    padding: 0;
    margin: 0;
    font-family: Avenir-heavy, proxima-nova, sans-serif;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 0 0 0 !important;
    background: url('/staticfiles/marvel/images/wallpaper3.jpg') fixed !important;
}

section {
    align-items: center;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section::before, section::after {
    transform: translate3d(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.choice-card {
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 25%);
    min-height: 80vh;
    width: 30%;
    background: white;
    opacity: 0.8;
    transition: all 0.25s ease-in-out;
    min-width: 275px;
    min-height: 600px;
    margin: 5% 2em 5% 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.25s ease-in-out;
}

.choice-card:hover {
    transform: scale(1.02);
}

.choice-card img {
    object-fit: cover;
    width: 85%;
    margin: 1em;
    border-radius: 16px;
    border: 2px gray solid;
}

.choice-card button {
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background: linear-gradient(darkred 0%, red 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
}

.choice-card button:active {
    border: 2px whitesmoke transparent;
}

.choice-card button:hover {
    cursor: pointer;
    background: red;
}

/* search page */

.search {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 150px auto 0;
    background-color: #242628;
    overflow: hidden;
    transition: all 0.5s ease;
    border: 2px white solid;
    border-radius: 4px;
    margin-bottom: 5%;
}
.search:before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}
.search.open {
    width: 420px;
}
.search.open:before {
    height: 60px;
    margin: 20px 0 20px 30px;
    position: absolute;
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 20px 100px 20px 45px;
    font-size: 40px;
}
.search-box:focus {
    outline: none;
}

.search-button {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #00fede;
    display: block;
    position: relative;
    margin-left: 5px;
    transition: all 0.5s ease;
}
.search-icon:before {
    content: "";
    width: 3px;
    height: 17px;
    position: absolute;
    right: -1px;
    top: 33px;
    display: block;
    background-color: #00fede;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}
.search-icon:after {
    content: "";
    width: 3px;
    height: 15px;
    position: absolute;
    right: -11px;
    top: 43px;
    display: block;
    background-color: #00fede;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}
.open .search-icon {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.open .search-icon:before {
    transform: rotate(52deg);
    right: 22px;
    top: 23px;
    height: 18px;
}
.open .search-icon:after {
    transform: rotate(-230deg);
    right: 22px;
    top: 13px;
    height: 18px;
}

#suggestions {
    position: absolute;
    width: 85%;
    top: 300px;
    height: auto !important;
    justify-content: center;
    padding-bottom: 40px;
}
.suggest-card {
    border-radius: 16px;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 25%);
    padding: 1em;
    width: 365px;
    height: 185px;
    margin: 1em 1em 0 1em;
    opacity: 0.8;
    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.suggest-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    outline: 3px white solid;
}