#timeline {
  display: flex;
  background-color: #031625;
  width: 100vw;
  justify-content: normal !important;
  flex-wrap: nowrap !important;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 20%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s ease;
}
.tl-item:before, .tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 40%;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: Avenir-heavy, proxima-nova, sans-serif;
  text-transform: uppercase;
  color: white;
  opacity: 0.8;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-phase {
  position: absolute;
  text-align: center;
  min-width: 150px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-radius: 10px;
  border-color:white;
  border-width: 2px;
  transition: 500ms;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
  }

.tl-phase p {
  font-family: Avenir-heavy, proxima-nova, sans-serif;
  font-size: 1.5rem;
  line-height: 0;
}
.tl-phase:hover {
  cursor:pointer;
  color: black;
  opacity: 0.6;
  background-color: white;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

@media only screen and (max-width: 1200px) {
  #timeline {
    flex-direction: column;
  }
  .tl-item {
    width: 100%;
  }
  .tl-item:hover {
    width: 100%;
  }
  .tl-item:hover::after {
    width: 100%;
  }
  .tl-item::after {
    animation: none;
    width: 100%;
  }
}