{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'finance/css/finance.css' %}"/>
</head>
<nav>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round" title="dark mode"></div>
        </label>
    </div>
</nav>

{% block finance %}
{% endblock finance %}

<script type="text/javascript" src="{% static 'finance/js/finance.js' %}"></script>

{% endblock content %}