{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'unspammable/images/icons/clear_bg_4.png' %}"/>
    <title>unspammable - gbc</title> 
    <link rel="stylesheet" href="{% static 'genone/css/GameBoy.css' %}"/>
    <link rel="stylesheet" href="{% static 'unspammable/css/modal.css' %}"/>

    <script type="text/javascript">
        var DEBUG_MESSAGES = false;
        var DEBUG_WINDOWING = false;
        window.onload = function () {
            windowingInitialize();
        };
    </script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/windowStack.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/gui.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/dicts.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/party.js' %}"></script>    
    <script type="text/javascript" src="{% static 'genone/js/other/base64.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/swfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/resampler.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/XAudioServer.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/resize.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/GameBoyCore.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/GameBoyIO.js' %}"></script>
    
    <title>unspammable</title>
    
</head>
<body>
    <div class="arrows">
        <img class="arrow" id="party-arrow">
        <img class="arrow" id="cartridge-arrow" style="transform: rotate(180deg);">
        <img class="arrow" id="settings-arrow">
    </div>
    <div class="drawer" id="active-party">
        <div class="gray-border" id="refresh-party" title="refresh party"><img id="refresh-icon" src="{% static 'genone/images/icons/refresh.png' %}" height="20px"></div>
        {% for i in range %}
            <div class="party-slot gray-border" id="party-slot-{{i}}"><div class="img-wrap" id="img-wrap-{{i}}"><img class="party-slot-img" id="party-slot-img-{{i}}"/></div><div class="lvl" id="lvl-{{i}}"></div></div>
        {% endfor %}
    </div>
    <div class="drawer" id="carts" style="transform: translateX(0);">
        
    {% for game in games %}
        <div class="cartridge" id="{{ game.version }}" value="{{ game.stateValue }}" name="{{ game.fileLoc }}">
            <img src="/staticfiles/genone/images/{{ game.image }}" height="170px"/>
        </div><br>
    {% endfor %}
    </div>
    <div class="drawer" id="settings">
        {% if user.is_authenticated %}
        <div class="btn gray-border" id="saver" value="blue" title="save file">save game</div>
        {% else %}
        <div class="btn gray-border" id="saver" value="blue" style="display: none;"></div>
        {% endif %}
        <div class="btn gray-border" id="pause-btn" title="pause game">pause</div>
        <div class="btn gray-border" id="resume-btn" title="resume game">resume</div>
        {% if user.is_authenticated %}
        <div class="btn gray-border" id="reset-btn" title="start from last save">reset</div>
        {% else %}
        <div class="btn gray-border" id="reset-btn" style="display:none;">reset</div>
        {% endif %}
        <div class="btn gray-border" id="newgame-btn" title="start new game">new game</div>
        <div class="btn gray-border" id="enable-sound" title="disable sound" value="true">sound on</div>

        <div class="game-setting" id="game-speed">
            <label>Adjust Speed</label>
            <div class="input-row">
                <input type="number" id="speed-input" value="1" disabled>
                <div class="btn sm-btn gray-border" id="adjust-speed-btn">apply</div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="icon-row">
            <a class="card wtp" title="Who's That Pokemon?" href="{% url 'wtp' %}"></a>
            <a class="card home" title="Home" href="{% url 'genone' %}"></a>
        </div>
        {% endif %}
    </div>

    <div class="hidden-info" id="active-cart" value=""></div>
    <div class="hidden-info" id="current-user" value="{{ request.user.id }}">{{ request.user.id }}</div>
    
    <div class="console-container" id="console">
        <div id="GameBoy" class="window">
            <div id="gfx">
                <canvas id="mainCanvas"></canvas>
                <img src="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}" height="50%" id="logo" style="padding-right:16px;"/>
            </div>
        </div>

        <div class="switch-wrapper" style="display:none;">
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round" title="play mode"></div>
            </label>
        </div>

        <div id="on-light"></div>
        <div class="gb-btn a-b" id="a-btn"></div>
        <div class="gb-btn a-b" id="b-btn"></div>
        <div class="gb-btn joypad" id="up-btn"></div>
        <div class="gb-btn joypad" id="down-btn"></div>
        <div class="gb-btn joypad" id="left-btn"></div>
        <div class="gb-btn joypad" id="right-btn"></div>
        <div class="gb-btn st-sel" id="start-btn"></div>
        <div class="gb-btn st-sel" id="select-btn"></div>
        <div id="fullscreenContainer">
            <canvas id="fullscreen" class="maximum"></canvas>
        </div>
    </div>
    {% for i in range %}
        <div class="modal" style="display: none;" id="pokemon-modal-{{i}}">
            <div class="modal_overlay" id="modal-overlay-{{i}}" name="modal-overlay-{{i}}"></div>
            <div class="modal_content pb-0" id="modal-content-{{i}}" style="width: auto;">
                <button title="close" class="close_modal" id="close-modal-{{i}}" style="right:0; top:0;">
                    x
                </button>
                <div class="modal-title" id="modal-title-{{i}}"></div>
                <div class="row">
                    <div id="stats-card-{{i}}" class="stat-card">
                        <div class="col front" id="stats-{{i}}">
                            <div class="modal-section-title">STATS</div>
                            <div class="stat"><p class="pos-abs m-0">HP:</p><p id="stats-hp-{{i}}" class="pos-abs right-0 m-0"></p></div>
                            <div class="stat"><p class="pos-abs m-0">ATTACK:</p><p id="stats-atk-{{i}}" class="pos-abs right-0 m-0"></p></div>
                            <div class="stat"><p class="pos-abs m-0">DEFENSE:</p><p id="stats-def-{{i}}" class="pos-abs right-0 m-0"></p></div>
                            <div class="stat"><p class="pos-abs m-0">SPEED:</p><p id="stats-spd-{{i}}" class="pos-abs right-0 m-0"></p></div>
                            <div class="stat"><p class="pos-abs m-0">SPECIAL:</p><p id="stats-spc-{{i}}" class="pos-abs right-0 m-0"></p></div>
                        </div>
                        <div class="back" id="stats-spider-{{i}}">
                            <canvas id="spider-chart-{{i}}"></canvas>
                        </div>
                    </div>
                    <div class="col" style="align-items: center; justify-content: inherit;">
                        <img id="modal-img-{{i}}">
                        <p id="type-{{i}}"></p>
                    </div>
                    <div id="evs-card-{{i}}" class="stat-card">
                        <div class="col front" id="evs-{{i}}">
                            <div class="modal-section-title">EVS</div>
                            <div class="stat"><p class="pos-abs m-0">HP:</p><p class="pos-abs right-0 m-0" id="evs-hp-{{i}}"></p></div>
                            <div class="stat"><p class="pos-abs m-0">ATTACK:</p><p class="pos-abs right-0 m-0" id="evs-atk-{{i}}"></p></div>
                            <div class="stat"><p class="pos-abs m-0">DEFENSE:</p><p class="pos-abs right-0 m-0" id="evs-def-{{i}}"></p></div>
                            <div class="stat"><p class="pos-abs m-0">SPEED:</p><p class="pos-abs right-0 m-0" id="evs-spd-{{i}}"></p></div>
                            <div class="stat"><p class="pos-abs m-0">SPECIAL:</p><p class="pos-abs right-0 m-0" id="evs-spc-{{i}}"></p></div>
                        </div>
                        <div class="back" id="evs-bar-{{i}}">
                            Bar chart
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 1em; min-width: 500px; justify-content: space-evenly;">
                    <div class="moveslot" id="modal-move-0-{{i}}"></div>
                    <div class="moveslot" id="modal-move-1-{{i}}"></div>
                    <div class="moveslot" id="modal-move-2-{{i}}"></div>
                    <div class="moveslot" id="modal-move-3-{{i}}"></div>
                </div>
            </div>
        </div>
    {% endfor %}
</body>

<script>
    var drawers = document.getElementsByClassName('drawer');
    var arrows = document.getElementsByClassName('arrow');
    var partyArrow = document.getElementById('party-arrow');
	var partyDrawer = document.getElementById('active-party');
	var toggleSwitch = document.querySelector('.switch input[type="checkbox"]');
	var mobileWrapper = document.getElementById('mobile-wrapper');
	var gameboy = document.getElementById('console');
</script>