{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'genone/css/GameBoy.css' %}"/>
    <script type="text/javascript">
        var DEBUG_MESSAGES = false;
        var DEBUG_WINDOWING = false;
        window.onload = function () {
            windowingInitialize();
        };
    </script>
    <script type="text/javascript" src="{% static 'genone/js/other/windowStack.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/gui.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/base64.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/json2.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/swfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/resampler.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/XAudioServer.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/resize.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/GameBoyCore.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/GameBoyIO.js' %}"></script>
    <title>unspammable</title>
    
</head>
<body>
    <div id="mobile-wrapper">
        <div class="cart-drawer">
            <img src="{% static 'genone/images/arrow.png' %}" height="50px" class="drawer-arrow" id="cartridge-arrow">
        {% for game in games %}
            <div class="cartridge" id="{{ game.version }}" value="{{ game.stateValue }}" name="{{ game.fileLoc }}">
                <img src="/staticfiles/genone/images/{{ game.image }}" height="170px"/>
            </div><br>
        {% endfor %}
        </div>
        <div class="settings">
            <img src="{% static 'genone/images/arrow.png' %}" height="50px" class="drawer-arrow" id="settings-arrow">
            <div class="btn" id="saver" value="blue">save game</div>
            <div class="btn" id="pause-btn">pause</div>
            <div class="btn" id="resume-btn">resume</div>
            <div class="btn" id="reset-btn">reset</div>
            <div class="btn" id="newgame-btn">new game</div>
            <div class="btn" id="enable-sound" value="true">sound on</div>

            <div class="game-setting" id="game-speed">
                <label>Adjust Speed</label>
                <div class="input-row">
                    <input id="speed-input" value="1.0">
                    <div class="btn sm-btn" id="adjust-speed-btn">apply</div>
                </div>
            </div>
            <div class="icon-row">
                <a class="card wtp" title="Who's That Pokemon?" href="{% url 'wtp' %}"></a>
                <a class="card home" title="Home" href="{% url 'genone' %}"></a>
            </div>
        </div>
        <div class="hidden-info" id="active-cart" value=""></div>
        <div class="hidden-info" id="current-user" value="{{ request.user.id }}">{{ request.user.id }}</div>
        
        <div class="console-container">
            <div id="GameBoy" class="window">
                <div id="gfx">
                    <canvas id="mainCanvas"></canvas>
                    <img src="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}" height="50%" id="logo" style="padding-right:16px;"/>
                </div>
            </div>
            <div class="switch-wrapper">
                <label class="switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round" title="play mode"></div>
                </label>
            </div>
            <div id="on-light"></div>
            <div class="gb-btn a-b" id="a-btn"></div>
            <div class="gb-btn a-b" id="b-btn"></div>
            <div class="gb-btn joypad" id="up-btn"></div>
            <div class="gb-btn joypad" id="down-btn"></div>
            <div class="gb-btn joypad" id="left-btn"></div>
            <div class="gb-btn joypad" id="right-btn"></div>
            <div class="gb-btn st-sel" id="start-btn"></div>
            <div class="gb-btn st-sel" id="select-btn"></div>
            <div id="fullscreenContainer">
                <canvas id="fullscreen" class="maximum"></canvas>
            </div>
        </div>
    </div>
</body>