{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'genone/css/GameBoy.css' %}"/>
    <script type="text/javascript">
        var DEBUG_MESSAGES = false;
        var DEBUG_WINDOWING = false;
        window.onload = function () {
            windowingInitialize();
        };
    </script>
    <script type="text/javascript" src="{% static 'genone/js/other/windowStack.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/gui.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/base64.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/json2.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/swfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/resampler.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/XAudioServer.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/other/resize.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/GameBoyCore.js' %}"></script>
    <script type="text/javascript" src="{% static 'genone/js/GameBoyIO.js' %}"></script>
    <title>GameBoy Online</title>
</head>
<body>
    <div class="dynamic-bg"></div>
    <div class="cart-drawer">
        <img src="{% static 'genone/images/arrow.png' %}" height="50px" class="drawer-arrow" id="cartridge-arrow">
    {% for game in games %}
        <div class="cartridge" id="{{ game.version }}" value="{{ game.stateValue }}" name="{{ game.fileLoc }}">
            <img src="/staticfiles/genone/images/{{ game.image }}" height="200px"/>
        </div><br>
    {% endfor %}
    </div>
    <div class="settings">
        <img src="{% static 'genone/images/arrow.png' %}" height="50px" class="drawer-arrow" id="settings-arrow">
        <div class="btn" id="saver" value="blue">save game</div>
        <div class="btn" id="restart-btn">restart</div>
    </div>

    <div class="hidden-info" id="active-cart" value=""></div>
    <div class="hidden-info" id="current-user" value="{{ request.user.id }}">{{ request.user.id }}</div>

    <div id="GameBoy" class="window">
        <div id="gfx">
            <canvas id="mainCanvas"></canvas>
            <img src="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}" height="50%" id="logo" style="padding-right:16px;"/>
        </div>
    </div>

    <div class="window" id="settings">
        <div id="toggle_settings">
            <div class="setting">
                <span>Enable Sound:</span>
                <input type="checkbox" checked="checked" id="enable_sound"/>
            </div>
            <div class="setting">
                <span>GB mode has priority over GBC mode:</span>
                <input type="checkbox" id="disable_colors"/>
            </div>
            <div class="setting">
                <span>Use the BIOS ROM:</span>
                <input type="checkbox" checked="checked" id="enable_gbc_bios"/>
            </div>
            <div class="setting">
                <span>Override ROM only cartridge typing to MBC1:</span>
                <input type="checkbox" checked="checked" id="rom_only_override"/>
            </div>
            <div class="setting">
                <span>Always allow reading and writing to the MBC banks:</span>
                <input type="checkbox" checked="checked" id="mbc_enable_override"/>
            </div>
            <div class="setting">
                <span>Colorize Classic GameBoy Palettes:</span>
                <input type="checkbox" checked="checked" id="enable_colorization"/>
            </div>
            <div class="setting">
                <span>Minimal view on fullscreen:</span>
                <input type="checkbox" checked="checked" id="do_minimal"/>
            </div>
            <div class="setting">
                <span>Resize canvas directly in JavaScript:</span>
                <input type="checkbox" id="software_resizing"/>
            </div>
            <div class="setting">
                <span>Disallow typed arrays to be used:</span>
                <input type="checkbox" id="typed_arrays_disallow"/>
            </div>
            <div class="setting">
                <span>Use the DMG boot ROM instead of CGB:</span>
                <input type="checkbox" id="gb_boot_rom_utilized"/>
            </div>
            <div class="setting">
                <span>Smooth upon resizing canvas:</span>
                <input type="checkbox" checked="checked" id="resize_smoothing"/>
            </div>
            <div class="setting">
                <span>Enable Channel 1 Audio:</span>
                <input type="checkbox" checked="checked" id="channel1"/>
            </div>
            <div class="setting">
                <span>Enable Channel 2 Audio:</span>
                <input type="checkbox" checked="checked" id="channel2"/>
            </div>
            <div class="setting">
                <span>Enable Channel 3 Audio:</span>
                <input type="checkbox" checked="checked" id="channel3"/>
            </div>
            <div class="setting">
                <span>Enable Channel 4 Audio:</span>
                <input type="checkbox" checked="checked" id="channel4"/>
            </div>
        </div>
        <div class="button_rack">
            <button id="settings_close_button" class="center">Close Settings</button>
        </div>
    </div>

    <ul class="menu" id="GameBoy_file_popup">
        <li id="set_volume">Set Volume</li>
        <li id="set_speed">Set Speed</li>
        <li id="restart_cpu_clicker">Restart</li>
        <li id="run_cpu_clicker">Resume</li>
        <li id="kill_cpu_clicker">Pause</li>
    </ul>
    <ul class="menu" id="GameBoy_view_popup">
        <li id="view_fullscreen">Fullscreen Mode</li>
    </ul>
    <div id="fullscreenContainer">
        <canvas id="fullscreen" class="maximum"></canvas>
    </div>
</body>
<script>
    settingsArrow = document.getElementById("settings-arrow");
    settingsDrawer = document.getElementsByClassName("settings")[0];
    settingsArrow.addEventListener('click', function () {
        if (settingsArrow.style.transform != 'rotate(180deg)') {
            settingsArrow.style.transform = 'rotate(180deg)';
            settingsDrawer.style.transform = 'translateX(80%)';
        } else {
            settingsArrow.style.transform = 'none';
            settingsDrawer.style.transform = 'translateX(0%)';
        };
    });
    cartArrow = document.getElementById("cartridge-arrow");
    cartDrawer = document.getElementsByClassName("cart-drawer")[0];
    cartArrow.addEventListener('click', function () {
        if (cartArrow.style.transform != 'rotate(360deg)') {
            cartArrow.style.transform = 'rotate(360deg)';
            cartDrawer.style.transform = 'translateX(-83%)';
        } else {
            cartArrow.style.transform = 'rotate(180deg)';
            cartDrawer.style.transform = 'translateX(0%)';
        };
    });
</script>
