<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <!-- title -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'unspammable/images/icons/clear_bg_4.png' %}"/>
    <title>unspammable {% block title%}{% endblock title %}</title>
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href='{% static "unspammable/css/main.css" %}'/>
    <link rel="stylesheet" href='{% static "unspammable/css/header.css" %}'/>
    <link rel="stylesheet" href="{% static 'marvel/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'marvel/css/transition.css' %}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="128x128" href="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}"/>
</head>

<!-- header bar -->
<div class="header-wrap">
<ul class="header">
    <li class="header-item">
      <a href="/">Unspammable</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="/">Home</a></li>
        <li class="header-subItem"><a href="#">About</a></li>
        <li class="header-subItem"><a href="#">Resume</a></li>
        <li class="header-subItem"><a href="#">Contact</a></li>
      </ul>
    </li>
    <li class="header-item">
      <a href="{% url 'marvel' %}">Marvel</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="{% url 'marvel' %}">Marvel Home</a></li>
        <li class="header-subItem"><a href="{% url 'recommend' %}">Recommender</a></li>
        <li class="header-subItem"><a onclick="transitionToPage('/marvel/timeline')">MCU Timeline</a></li>
        <li class="header-subItem"><a onclick="toggleModal()">Credentials</a></li>
      </ul>
    </li>
    <li class="header-item">
      <a href="{% url 'finance' %}" >Finance</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="{% url 'finance' %}">Finance Home</a></li>
        <li class="header-subItem"><a href="#">Dashboard</a></li>
        <li class="header-subItem"><a href="#">Robo Advisor</a></li>
      </ul>
    </li>
    <li class="header-item">
      <a href="{% url 'fitness' %}">Fitness</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="{% url 'fitness' %}">Fitness Home</a></li>
        <li class="header-subItem"><a href="#">Measurements</a></li>
        <li class="header-subItem"><a href="#">Training</a></li>
      </ul>
    </li>
    <li class="header-item">
      <a href="#">Data Science</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="#">Data Science Home</a></li>
      </ul>
    </li>
    <li class="header-item">
      <a href="#">Basketball</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="#">Basketball Home</a></li>
      </ul>
    </li>
    <li class="header-item">
      <a href="{% url 'genone' %}">Gen One</a>
      <ul class="header-subItems">
        <li class="header-subItem"><a href="{% url 'genone' %}">Gen One</a></li>
        <li class="header-subItem"><a href="{% url 'gameboy' %}">Gameboy</a></li>
        <li class="header-subItem"><a href="{% url 'wtp' %}">WTP?</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- accordion menu -->
<nav class="menu">
  <ul>
    <input type="radio" name="menu" id="unspammable" checked>
    <li class="menuItem">
      <label for="unspammable" class="title">Unspammable</label>
      <a class="submenuItem" href="/">Home</a>
      <a class="submenuItem" href="#">About</a>
      <a class="submenuItem" href="#">Resume</a>
      <a class="submenuItem" href="#">Contact</a>
    </li>
    <input type="radio" name="menu" id="marvel">
      <li class="menuItem">
        <label for="marvel" class="title">Marvel</label>
        <a class="submenuItem" href="{% url 'marvel' %}">Marvel Home</a>
        <a class="submenuItem" href="{% url 'recommend' %}">Recommender</a>
        <a class="submenuItem" onclick="transitionToPage('/marvel/timeline')">MCU Timeline</a>
        <a class="submenuItem" onclick="toggleModal()">Credentials</a>
      </li>
    <input type="radio" name="menu" id="finance">
      <li class="menuItem">
        <label for="finance" class="title">Finance</label>
        <a class="submenuItem" href="{% url 'finance' %}">Finance Home</a>
        <a class="submenuItem" href="#">Dashboard</a>
        <a class="submenuItem" href="#">Robo Advisor</a>
      </li>
    <input type="radio" name="menu" id="fitness">
      <li class="menuItem">
        <label for="fitness" class="title">Fitness</label>
        <a class="submenuItem" href="{% url 'fitness' %}">Fitness Home</a>
        <a class="submenuItem" href="#">Measurements</a>
        <a class="submenuItem" href="#">Training</a>
      </li>
    </input>
    <input type="radio" name="menu" id="datascience">
      <li class="menuItem">
        <label for="datascience" class="title">Data Science</label>
        <a class="submenuItem" href="#">Data Science Home</a>
      </li>
    <input type="radio" name="menu" id="basketball">
      <li class="menuItem">
        <label for="basketball" class="title">Basketball</label>
        <a class="submenuItem" href="#">Basketball Home</a>
      </li>
    <input type="radio" name="menu" id="gen-one">
      <li class="menuItem">
        <label for="gen-one" class="title">Gen One</label>
        <a class="submenuItem" href="{% url 'genone' %}">Gen One Home</a>
        <a class="submenuItem" href="{% url 'gameboy' %}">Gameboy</a>
        <a class="submenuItem" href="{% url 'wtp' %}">Who's That Pokemon?</a>
      </li>
    </ul>
  </nav>

<a class="hamburger">
  <img src="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}" height="64px" class="hamburger-image"/>
</a>
<div class="overlay"></div>

<!-- loader -->
<div class="loader loader--active">
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-0-original-x-men.jpg)"></div>
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-1-three-part.jpg)"></div>
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-2-age-of-ultron.jfif)"></div>
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-3-endgame.jpg)"></div>  
  <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-4-summary.jpg)"></div>
</div>

<!-- modal -->
<div class="modal" style="display: none;">
  <div class="modal_overlay"></div>
  <div class="modal_content">
    <!-- Dynamic Section -->
    <div class="modal_select">
      <label for="platform" style="padding-bottom: 2px;">Choose a Platform:</label>
      <select name="platform" id="platform">
        {% for platform in platforms %}
          <option value="{{platform.id}}">{{ platform.name_text }}</option>
        {% endfor %}
      </select>
      <button onclick="getCredentials()" style="float:right; margin-right: 11%; height: 30px;">
        <img src="{% static 'unspammable/images/search.png' %}" style="object-fit: cover; height: 17px; padding-top: 2px;"/>
      </button>
    </div>
    <label for="username">Username:</label>
    <div class="return-info">
      <div id="username" value="username" style="position: absolute; font-size: 14px; padding: 2px  5px;"></div>
      <div class="tooltip">
      <button onclick="copyToClipboard('username', 0)" onmouseout="outFunc(0)">
        <span class="tooltiptext" id="copyTooltip">Copy</span>
        <img src="{% static 'unspammable/images/copy.png' %}" style="object-fit: cover; height: 17px;">
      </button>
      </div>
    </div>
    <label for="password">Password:</label>
    <div class="return-info">
      <div id="password" value="password" style="position: absolute; font-size: 14px; padding: 2px  5px; letter-spacing: 0px;"></div>
      <div class="tooltip">
      <button onclick="copyToClipboard('password', 1)" onmouseout="outFunc(1)">
        <span class="tooltiptext" id="copyTooltip">Copy</span>
        <img src="{% static 'unspammable/images/copy.png' %}" style="object-fit: cover; height: 17px;">
      </button>
      </div>
    </div>
    <!-- End of Dynamic Section -->
    <button title="Close" class="close_modal">
      x
    </button>
  </div>
</div>

{% block content %}
{% endblock %}

{% load js %}
<script type="text/javascript" src='{% static "unspammable/js/main.js" %}'></script>
<script type="text/javascript" src='{% static "marvel/js/phase.js" %}'></script>
<script type="text/javascript" src='{% static "marvel/js/modal.js" %}'></script>
<script type="text/javascript">
  function getCredentials() {
    var platform = document.getElementById('platform').value;
    var credentials = {{ credentials | js }};
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    for (let i = 0; i < credentials.length; i++) {
      if (credentials[i][0] == platform) {
        username.innerHTML = credentials[i][2];
        password.innerHTML = credentials[i][1];
      }
    };
  }
</script>
</html>