<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <!-- title -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'unspammable/images/clear_bg_4.png' %}"/>
    <title>unspammable</title>

    <link rel="stylesheet" href='{% static "unspammable/comingsoon.css" %}'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
{% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
{% else %}
    <h3>You are not logged in.</h3>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

</html>