{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper" id="wrapper" style="overflow: hidden;">

<footer>
    <ul class="footer__links" style="padding-inline-start: 0%;">
    <li><a href="https://twitter.com/unspammable" target="_blank"><span class="fa fa-twitter"></span></a></li>
    <li><a href="https://github.com/gcox32" target="_blank"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.linkedin.com/in/gcoxexcel/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
    </ul>
</footer>

{% endblock %}