<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <!-- title -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'unspammable/images/icons/clear_bg_4.png' %}"/>
    <title>unspammable</title>

    <link rel="stylesheet" href='{% static "unspammable/css/main.css" %}'/>
    <link rel="stylesheet" href="{% static 'marvel/css/transition.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>

<div class="wrapper">
    <header>
        <a href="{% url 'marvel' %}">
          <img class="header__logo" src="{% static 'unspammable/images/icons/clear_bg_3_white.png' %}" />
        </a>
    </header>

        <!-- marvel page transition -->
        <div class="loader loader--active">
          <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-0-original-x-men.jpg)"></div>
          <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-1-three-part.jpg)"></div>
          <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-2-age-of-ultron.jfif)"></div>
          <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-3-endgame.jpg)"></div>  
          <div class="loader__tile" style="background-image:url(https://www.unspammable.com/staticfiles/marvel/images/phase-4-summary.jpg)"></div>
        </div>
  
      <!-- <p>The website is under construction.</p> -->
  
      <!-- <form action="">
        <input id="form-email" name="form-email" type="email" placeholder="Your email address" />
        <input type="submit" value="Notify me"/>
      </form> -->
    </main>
  
    <footer>
      <ul class="footer__links" style="padding-inline-start: 0%;">
        <li><a href="https://twitter.com/unspammable" target="_blank"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://github.com/gcox32" target="_blank"><span class="fa fa-github"></span></a></li>
        <li><a href="https://www.linkedin.com/in/gcoxexcel/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
      </ul>
    </footer>
</div>

<script type="text/javascript" src='{% static "unspammable/js/main.js" %}'></script>
</html>