.header {
  padding-left: 10%;
  height: 60px;
  width: 100%;
  position: fixed;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-right: 5%;
  text-transform: uppercase;
  z-index: 2;
}

.header-item, .return-home {
  transition: 0.25s ease-in-out;
  opacity: 0.5;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.header-item:nth-child(odd):hover {
  cursor: pointer;
  opacity: 0.9;
}

/* return home */
.return-home {
  right: 6%;
  position: absolute;
  z-index: 2;
}
.return-home:hover {
  opacity: 1;
}

.header-item:first-child:hover {
    opacity: 1;
}

.header-item:nth-child(even):hover {
    cursor: default;
}

/* hamburger menu */
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1; 
  transform-origin: 4px 0px;
  transition: 
    transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* build the X */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh !important;
  background: #ededed;
  opacity: 0.6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

header,
.content,
footer {
  position: absolute;
}

header,
footer {
  width: 100%;
}

header {
  top: 0;
  text-align: center;
}


header img {
  transition: 0.25s ease-in-out;
}

header img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.header-item {
  padding: 0 0.3em 0 0.3em;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
  opacity: 0.7;
}

.menuIcon {
  display: none;
}

.closeIcon {
  opacity: 0.7;
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 70vw;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

@media only screen and (max-width: 700px) {
  .header-item {
    transform: translateY(-100%);
  }
  .menuIcon {
    display: block;
  }

}