.header {
  padding-left: 10%;
  height: 60px;
  width: 100%;
  position: fixed;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-right: 5%;
  text-transform: uppercase;
  z-index: 2;
}

.header-item {
  transition: 0.25s ease-in-out;
  opacity: 0.5;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.header-item:nth-child(odd):hover {
  cursor: pointer;
  opacity: 0.9;
}

.header-item:first-child:hover {
    opacity: 1;
}

.header-item:nth-child(even):hover {
    cursor: default;
}

header,
.content,
footer {
  position: absolute;
}

header,
footer {
  width: 100%;
}

header {
  top: 0;
  text-align: center;
}

header img {
  transition: 0.25s ease-in-out;
}

header img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.header-item {
  padding: 0 0.3em 0 0.3em;
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  background: none;
  transition: 250ms ease-in-out;
  cursor: pointer;
  opacity: 0.7;
}

.hamburger:hover {
  opacity: 1;
}

.menu {
  position: fixed;
  transform: translateX(-200%);
  transition: transform 0.2s;
  display: flex;
  align-items: flex-start;
  top: 0;
  left: 0;
  right: 70vw;
  bottom: 0;
  z-index: 3;
  background: #111;
  color: white;
  padding-top: 4rem;
  opacity: 0.8;
  margin: 0;
}

.menuItem, ul label.title, ul {
  width: 100%;
	color: #FFF;
	display: block;
	font-weight: bold;
}

ul {
  padding-inline-start: 0 !important;
}

ul label {
  height: 20px;
}
ul .menuItem{
	height: 35px;
	overflow: hidden;
	transition: all .3s ease;
}
.menuItem {
	display: block;
	background-color: #363636;
}
label.title {
	font-size: 14px;
	background: linear-gradient(#111, #2f2f2f);
	padding: 10px 15px;
	cursor: pointer;
  transition: all .25s;
}
.submenuItem {
	font-size: 12px;
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
}
.submenuItem:hover {
	background-color: #444;
  box-shadow: inset 5px 0px 0px 0px #fff;
  cursor: pointer;
}
label:hover {
	text-shadow: 0px 0px 10px #fff;
  cursor: pointer;
}
input[type="radio"] {
	display: none;
}
#marvel:checked + .menuItem, 
#finance:checked + .menuItem, 
#fitness:checked + .menuItem, 
#datascience:checked + .menuItem {
	height: 179px;
}

.overlay {
  display: none;
  position: fixed;
  opacity: 0;
  background: lightcoral;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30vw;
  z-index: 5;
}

.showMenu {
  transform: translateX(0);
}

@media only screen and (max-width: 700px) {
  .header-item {
    transform: translateY(-100%);
  }
  .hamburger {
    display: block;
  }
}