.header {
  padding-left: 10%;
  height: 60px;
  width: 100%;
  position: fixed;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-right: 5%;
  text-transform: uppercase;
  z-index: 2;
}

.header-item, .return-home {
  transition: 0.25s ease-in-out;
  opacity: 0.5;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.header-item:nth-child(odd):hover {
  cursor: pointer;
  opacity: 0.9;
}

/* return home */
.return-home {
  right: 6%;
  position: absolute;
  z-index: 2;
}
.return-home:hover {
  opacity: 1;
}

.header-item:first-child:hover {
    opacity: 1;
}

.header-item:nth-child(even):hover {
    cursor: default;
}

header,
.content,
footer {
  position: absolute;
}

header,
footer {
  width: 100%;
}

header {
  top: 0;
  text-align: center;
}


header img {
  transition: 0.25s ease-in-out;
}

header img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.header-item {
  padding: 0 0.3em 0 0.3em;
}

.menuItem {
  display: block;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.menuItem:hover {
  text-decoration: none;
  cursor: pointer;
  color: lightcoral;
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  /* padding: 4px; */
  /* border: black solid 1px; */
  /* background: white; */
  cursor: pointer;
  opacity: 0.7;
}

.hamburger:hover {
  opacity: 0.9;
}

.menu {
  position: fixed;
  transform: translateX(-200%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 70vw;
  bottom: 0;
  z-index: 3;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
  opacity: 0.8;
  margin: 0;
}

.overlay {
  display: none;
  position: fixed;
  opacity: 0;
  background: lightcoral;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30vw;
  z-index: 5;
}

.showMenu {
  transform: translateX(0);
}

@media only screen and (max-width: 700px) {
  .header-item {
    transform: translateY(-100%);
  }
  .hamburger {
    display: block;
  }
}