html,
body,
.wrapper {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  animation: fadein 1s;
  transition: 500ms;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
      background-color: #031625;
  }
  to {
      opacity:1;
  }
  }
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
  }

body {
  font-family: Avenir-heavy, proxima-nova, sans-serif;
}

/* coming soon */
.wrapper {
  position: relative;
  background: url(https://source.unsplash.com/vZlTg_McCDo/1920x1080) no-repeat center center/cover;
}
.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.25);
}

header,
.content,
footer {
  position: absolute;
}

header,
footer {
  width: 100%;
}

header {
  top: 0;
  text-align: center;
}

.header__logo {
  max-width: 65px;
  fill: #fff;
}

header img {
  transition: 0.25s ease-in-out;
}

header img:hover {
  cursor: pointer;
  opacity: 0.5;
}

footer {
  padding-bottom: 12px;
  bottom: 0;
}

.footer__links {
  text-align: center;
  list-style-type: none;
}
.footer__links li {
  display: inline-block;
}
.footer__links li:nth-of-type(n+2) {
  margin-left: 12px;
}
.footer__links a {
  padding: 8px 0;
  display: block;
  width: 41px;
  text-align: center;
  color: #fff;
  border: 1px solid;
  border-radius: 50%;
  transition: opacity 0.25s ease-in-out;
}
.footer__links a:hover {
  opacity: 0.5;
}
.footer__links .fa {
  vertical-align: middle;
  font-size: 21px;
}

