@charset "utf-8";
@font-face {
    font-family: gameboy;
    src: url('/staticfiles/genone/fonts/PokemonGb.ttf');
}

html {
	margin: 0;
	padding: 0;
	font-family: gameboy, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: left;
	direction: ltr;
	width: 100%;
	height: 100%;
	text-rendering: optimizeSpeed;
	overflow: hidden;
}
body {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	background-image: url('/staticfiles/genone/images/bg-yellow.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 100px 0;
	transition: 1s ease-in-out;
	background-color: rgb(39, 39, 39);
}
.console-container {
	position: absolute;
	width: 526px;
	height: 928px;
	background-image: url('/staticfiles/genone/images/gameboy-bg.png');
	background-size: cover;
	left: 346px;
	top: -20px;
	border: 4px rgba(255,255,255, .5) solid;
	border-radius: 20px;
}
.menubar, #GameBoy > #gfx {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.window {
	visibility: visible;
	display: none;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 10px 0px 0px 0px;
	top: 0;
	left: 0;
	color: rgb(0, 0, 0);
	font-size: 16px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 5px 5px 10px rgb(30, 30, 30);
	box-shadow: 5px 5px 10px rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
	z-index: 2;
	opacity: 1;
}
#GameBoy {
	height: 286px;
	width: 321px;
	top: 62px !important;
	left: 450px !important;
}

#gfx {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3px;
	left: 3px;
	right: 3px;
	top: 3px;
	background-color: rgb(39, 39, 39);
	background-repeat: repeat-x;
	background-attachment: scroll;
}
body > #fullscreenContainer {
	position: absolute;	/*Fallback here if fixed isn't supported*/
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
	background-color: rgb(39, 39, 39);
	display: none;
	z-index: 100;
}
body > #fullscreenContainer > canvas#fullscreen.maximum {
	position: static;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body > #fullscreenContainer > canvas#fullscreen.minimum {
	position: absolute;
	height: 144px;
	width: 160px;
	top: 50%;
	left: 50%;
	margin: -72px 0 0 -80px;
	padding: 0;
}
#GameBoy > #gfx > canvas {
	position: absolute;
	z-index: 5;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

#gfx + image {
	z-index: 1;
	padding: 0;
}

/* revamp */
#temp-fix {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: white;
	transition: .3s ease-in-out;
}
.cart-drawer {
	position: absolute;
	width: 220px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 30px;
	left: 0;
	top: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 400ms ease-in-out;
	background: rgba(255,255,255, .1);
}
.cart-drawer::-webkit-scrollbar {
	width: 0;
}
.settings {
	position: absolute;
	width: 250px;
	height: 100%;
	right: 0;
	top: 0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 400ms ease-in-out;
	background: rgba(255,255,255, .1);
}
.drawer-arrow {
	position: absolute;
	top: 330px;
	left: 0;
	transition: 300ms ease-in-out;
}
.drawer-arrow:hover {
	cursor: pointer;
}
.drawer-arrow:active {
	transform: rotate(180deg);
}
#cartridge-arrow {
	transform: rotate(180deg);
	right: -5;
	left: auto;
}
#cartridge-arrow:active {
	transform: rotate(360deg);
}
.cartridge {
	border-radius: 4px;
	transition: 100ms ease-in-out
}
.cartridge:hover {
	cursor: pointer;
	outline: 4px black solid;
	transform: scale(1.01);
}
.hidden-info {
	display: none;
}

.btn {
	border-radius: 16px;
	border: 4px black solid;
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin-top: 10px;
	transition: 250ms ease-in-out;
}
.btn:hover {
	cursor: pointer;
	background: rgb(153, 153, 153);
}
.sm-btn {
	width: 60px;
	height: 25px;
	border: 2px black solid;
	margin-top: 0;
	border-radius: 4px;
	margin-left: 5px;
	font-size: 9px;
}
.game-setting {
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.input-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 25px;
}
#speed-input {
	width: 25%;
	height: 27px;
	border: 2px black solid;
	margin-right: 5px;
	display: flex;
	text-align: center;
}
label {
	text-transform: uppercase;
	margin-bottom: 2px;
}
input {
	font-family: gameboy, sans-serif;
}
#enable-sound {
	margin-bottom: 5px;
}
input:hover {
	cursor: pointer;
}

/* buttons */
.gb-btn {
	position: absolute;
	/* background: purple; */
	opacity: 0.7;
}
.gb-btn:hover {
	cursor: pointer;
}
.gb-btn:active {
	opacity: 1;
}
.a-b {
	border-radius: 50%;
	height: 61px;
	width: 61px;
	background-color: rgba(255,255,255, .1);
}
.a-b:active {
	opacity: 0;
}
#a-btn {
	left: 776px;
	top: 544px;
}
#b-btn {
	left: 677px;
	top: 576px;
}
.st-sel {
	width: 46px;
	height: 17px;
	border-radius: 40%;
	top: 738px;
	background-color: rgba(255,255,255, .1);
}
.st-sel:active {
	opacity: 0;
}
#select-btn {
	left: 550px;
}
#start-btn {
	left: 631px;
}
.joypad {
	height: 45px;
	width: 48px;
	border-radius: 8px;
}
#up-btn {
	background: linear-gradient(180deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 526px;
	left: 433px;
}
#down-btn {
	background: linear-gradient(0deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 614px;
	left: 433px;
}
#left-btn {
	background: linear-gradient(0deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 569px;
	left: 388px;
	transform: rotate(90deg)
}
#right-btn {
	background: linear-gradient(180deg, rgba(255,255,255, .2), rgba(255,255,255, .0));
	top: 569px;
	left: 476px;
	transform: rotate(90deg)
}
.joypad:active{
	opacity: 0;
}